*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html, body{
        height: 100%;
}

.context{
        width: 90%;
        margin: 0 auto;
}

.main-header{
        background-color: #212343;
        padding: 2%;
}

.banner{
        width: 100vw;
        height: 70vh;
        background-image: url(../images/header_bg.png);
        background-size: cover;
        background-position: center;
}

.banner-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.blue-card{
        width: 50%;
        padding:4%;
        background-color: rgba(32, 27, 59, 0.74);
        color: #fff;
}

.blue-card li{
        margin-bottom: 5%;
}

.blue-card li:last-of-type{
        margin-bottom: 0;
}

.banner_form{
        width: 30%;
        margin-top: -3%;
        border: 6px solid #cccccc;
        padding: 2%;
        color: #cccccc;
        background-color: #fff;
}

.banner_form h1{
        font-size: 16px;
}

.form-field{
        margin-top: 8%;
}

input[type=text], input[type=email]{
        width: 80%;
        height: 20%;
        padding: 2%;
        display: block;
}

label{
        display: inline-block;
        margin-bottom: 2%;
}

.banner_form p{
        margin: 10% 0;
}

button {
        display: block;
        width: 70%;
        padding: 3% 5%;
        margin: 10% auto 2%;
        background-color: #363a6d;
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
}