/* GERAL */
@font-face{
        src: url(../fonts/OpenSans-Light.ttf);
        font-family: "Open-Sans";
}

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Open-Sans";
}

html, body{
        height: 100%;
}

body{
        overflow-x: hidden;
}


.context{
        width: 90%;
        margin: 0 auto;
}

/* CABEÇALHO */
.main-header{
        background-color: #212343;
        padding: 2%;
}


/* BANNER */
.banner{
        width: 100vw;
        height: 70vh;
        background-image: url(../images/header_bg.png);
        background-size: cover;
        background-position: center;
}

.banner-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
}

/* CARD ROXO LISTA */
.blue-card{
        width: 50%;
        padding:4%;
        background-color: rgba(32, 27, 59, 0.74);
        color: #fff;
}

.blue-card li{
        margin-bottom: 5%;
}

.blue-card li:last-of-type{
        margin-bottom: 0;
}


/* FORM */
.banner_form{
        width: 30%;
        margin-top: -3%;
        border: 6px solid  rgba(120, 120, 120, 0.5);
        padding: 2%;
        color: #999;
        background-color: #fff;
        background-clip: padding-box; /* é o que proporciona a transparencia para borda*/
}

.banner_form h2{
        font-weight: normal;
        font-size: 16px;
}

.form-field{
        margin-top: 8%;
}

input[type=text], input[type=email]{
        width: 80%;
        height: 20%;
        padding: 2%;
        display: block;
}

label{
        display: inline-block;
        margin-bottom: 2%;
}

.banner_form p{
        margin: 10% 0;
}

button {
        display: block;
        width: 70%;
        padding: 3% 5%;
        margin: 10% auto 2%;
        background-color: #363a6d;
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 3px solid #4A5097;
        cursor: pointer;
}

button:hover{
        background-color: #222444;
}

/* CONTAINER CINZA */
.gray-container{
        background-color: #dddddd;
        padding: 3% 0 4%;    
}

.gray-container__flex{
        display: flex;
        flex-direction: column;
        align-items: center;
}

.gray-container h1{
        color: #000000;
        font-size: 25px;
        margin-bottom: 2%;
}

.gray-container p{
        color: #686767;
        text-align: justify;
        width: 80%;
}

.arrow-icon{
        width: 40px;
        height: 40px;
        background-image: url(../images/arrow.png);
        background-size: cover;
        position: relative;
        top: 70px;
}

/* SECOES */
.section-one{
        padding: 5% 0 10%;
}

.section-one h2{
        color: #806993;
        text-align: center;
        margin-bottom: 8%;
}

.section-one__flex{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
}

.section-one__cols{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
}

.section-one__cols img{
        width: 50px;
}

.section-one__cols h3{
        margin: 5% 0 3%;
}

.section-one__cols p{
        text-align: justify;
}

/* FOOTER */
.footer{
        background-color: #212343;
        padding: 3%;
        color: #fff;
        text-align: center;    
}

@media screen and (max-width: 1200px){
        .banner{
                height: 100vh;  
        }

        .banner_form{
                width: 45%;     
        }

        .gray-container{
                padding: 5% 0 7%;    
        }

        .section-one{
                padding: 8% 0 12%;
        }

        .section-one__cols{
                width: 40%;
                margin-bottom: 8%;
        }

        .section-one h2{
                margin-bottom: 12%;
        }

}

@media screen and (max-width: 700px){
        .banner{
                padding: 8%;  
        }

        .banner-flex{
                flex-direction: column-reverse;
                        
        }
        
        .blue-card{
                width: 90%;
                padding: 10%;
                margin-top: 20%;
        }

        .banner_form{
                width: 75%; 
                padding: 5%; 
               
                
        }

        .gray-container{
                padding: 75% 0 7%;    
        }

        .arrow-icon{
                top: 60px;
        }

        .section-one{
                padding: 12% 0 15%;
        }

        .section-one__flex{
                justify-content: center;  
        }

        .section-one__cols{
                width: 90%;
                margin-bottom: 8%;
        }

        .section-one h2{
                margin-bottom: 12%;
        }

}

@media screen and (max-width: 375px){

     

        .gray-container{
                padding: 90% 0 7%;    
        }

        .blue-card{
                margin-top: 50%;
        }
      
}







